



.wrap{
min-width: 100%;
min-height: 100%;
position: relative;
 top: 0px;
 left: 0px;
z-index:1;

}

.page-content {
 position: relative;
 top: 0px;
 left: 0px;
 right:0px;
 bottom:0px;
 width:100%;
 z-index:1;
 
 }
 
 .toggle {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
 background-color:#545454;
 border-radius: 9px;
   
  position: absolute;
  top: 14px;
  right: 20px;
  padding: 9px;
  z-index:2;
  transition: left 0.3s;
  display: none;
  }
  
  sidebar ul{
  list-style: none;
  }
  
  
   li{
  list-style: none;
  }
 
 .sidebar {
 	
    position:fixed;
    top: 0px;
    left:0px;
    overflow-y:scroll;
    overflow-x:hidden;
 width: 100%;
 height: 100%;
 
 background:#626262;
 z-index: 0;
 text-align: center;
 }
 
 .sidebar a {
 color: rgba(255,255,255,0.7);
 -webkit-font-smoothing: antialiased;
 cursor:pointer;
 display: block;
 padding: 15px 0;
  border-bottom: 1px solid #000;
   text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    letter-spacing: .11142857142857em;
    font-size: 16px;
    font-weight:200;
 }
 
 
.sidebar a:hover {
   color: rgba(255,255,255,2);
	
}
#sidebartoggler{
display: none;
}




#sidebartoggler:checked + .logo-text {
	left: 180px;
}	

#sidebartoggler:checked ~ .wrap {top: 331px;box-shadow: 0 0 5px 5px rgba(0,0,0,269.5);}
 
 
#sidebartoggler + label, .wrap {
    transition: top 0.5s;
}

.one {
margin-top:58px;
}




