 body{
overflow:hidden;
}


.wrap{
min-width: 100%;
min-height: 100%;
position: relative;
 top: 0px;
 left: 0px;
z-index:1;
overflow-y: visible;
}

.page-content {
 position: relative;
 top: 0px;
 left: 0px;
 right:0px;
 bottom:0px;
 width:100%;
 z-index:1;
 
 }
 
 .toggle {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  position: fixed;
  top: -4px;
  right: 1px;
  padding: 30px;
  z-index:2;
  transition: left 0.3s;
  display: none;
  }
  
  sidebar ul{
  list-style: none;
  }
  
  
   li{
  list-style: none;
  }
 
 .sidebar {
 position: fixed;
 top: 0px;
 left: 0px;
 right:0px;
 bottom:0px;
 width: 185px;
 height: 100%;
 padding: 30px;
 background:#333;
 z-index: 0;
 text-align: center;
 }
 
 .sidebar a {
 color: rgba(255,255,255,0.7);
 font-family:"ubuntu, sans-serif";
 font-size: 16px;

 -webkit-font-smoothing: antialiased;
 cursor:pointer;
 display: block;
 padding: 15px 0;

border-bottom: 1px solid #000;
 }
 
 
.sidebar a:hover {
   color: rgba(255,255,255,2);
	
}
#sidebartoggler{
display: none;
}




#sidebartoggler:checked + .logo-text {
	left: 180px;
}	

#sidebartoggler:checked ~ .wrap {left: 184px;box-shadow: 0 0 5px 5px rgba(0,0,0,269.5);}
 
 
#sidebartoggler + label, .wrap {
    transition: left 0.5s;
}

.one {
margin-top:58px;
}




